<ion-content [fullscreen]="true">

    <ion-content>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="mb-6">
                <label for="email">Email Adress</label>
                <input type="email" id="email" name="email" ngModelclass="" placeholder="john.doe@compañia.com" required
                    #email="ngModel" />
                <div *ngIf="email.invalid && email.touched" style="color:aquamarine;"> Enter a valid email adress</div>
            </div>
            <div class="mb-6">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" ngModel placeholder="**********" required
                    #password="ngModel" />
            </div>
            <button type="submit" [disabled]="loginForm.invalid">login</button>
        </form>

        <button (click)="onReset()">go to reset</button>
        <button (click)="onSignUp()">go to sign-up</button>
    </ion-content>
</ion-content>