<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Sign Up</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Sign Up</ion-title>
        </ion-toolbar>
    </ion-header>

    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <!-- Campo para el email -->
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Email address
        </label>
        <input type="email" id="email" name="email" [(ngModel)]="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="john.doe@company.com" required emailInput #emailInput="ngModel" />
        <div *ngIf="!emailInput.valid && emailInput.touched" style="color: red;">
            Please enter a valid email address.
        </div>

        <!-- Campo para el password -->
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Password
        </label>
        <input type="password" id="password" name="password" [(ngModel)]="password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            required passwordInput #passwordInput="ngModel" />
    </form>


</ion-content>