<ion-content>
    <ion-item>
        <ion-label position="floating">Ingresa tu idea</ion-label>
        <ion-input [(ngModel)]="ideaPrompt"
            placeholder="Por ejemplo, 'Genera ideas para un juego tipo Dark Souls'"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="generateIdea()">Generar idea</ion-button>

    <ion-card *ngIf="generatedIdea">
        <ion-card-header>
            <ion-card-title>Tu idea generada</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{generatedIdea}}
        </ion-card-content>
    </ion-card>

    <ion-button expand="full" (click)="onSignUp()">Go to Login</ion-button>

    <!-- Botón de Logout -->
    <ion-button expand="full" color="danger" (click)="logout()">Logout</ion-button>
</ion-content>